body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background-color: aliceblue;
    /* background-image: linear-gradient(135deg, #e9defa 10%, #fbfcdb 100%); */
    /* background-repeat: no-repeat; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-loader{
  position: absolute;
  background-color: #383b3b8c;
  z-index: 1;
  width: 100%;
  /* height: 100vh; */
}

.app-loader .spinner-border{
  position: absolute;
  top: 50%;
  left: 50%;
}
/* .main{
  background-color: aliceblue;
} */

.sidebar{
  width: 230px;
}

.selectedTab{
  border: 3px solid red;
}

.sidebar button {
  margin-bottom: 1rem;
  /* background-color: bisque; */
  background-image: linear-gradient(135deg, #a3bded 10%, #6991c7 100%);
    font-weight: bold;
    color: white;
}

.navbar-brand{
  cursor: pointer;
}

.dashboard-main{
margin-left: 1rem;
/* height: calc(100vh - 7rem); */
width: 100%;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
/* background-color: white; */
background-image: linear-gradient(135deg, #e9defa 10%, #fbfcdb 100%);
padding: 1rem;
}

/* .main{
  background-image: linear-gradient(135deg, #e9defa 10%, #fbfcdb 100%);
} */

.card-container .card {
  margin-right: 2rem;
  max-width: 12rem;
  width: 100%;
  background-image: linear-gradient(135deg, #ffecd2 10%, #fcb69f 100%);
}

.student-form{
  /* width: 300px; */
}

.error{
  color: red;
}

.icon{
  margin-right: 2rem;
  cursor: pointer;
  color: blueviolet;
  /* background-image: linear-gradient(135deg, #007adf 10%, #00ecbc 100%); */
}

.pagination{
  display: flex;
  justify-content: space-between;
}

.delete-icon{
  color: red;
}

.navbar-brand {
  text-align: center;
}